#root {
    -fx-background-color: #181F36;
            /*radial-gradient(focus-angle 90deg, focus-distance 0%, center 0% 25%, radius 110%, reflect, #3d486b, #2e3755 40%, #2e3755 75%, #262f49);*/
}

#menu{
    -fx-background-color: #252d47;
    -fx-effect: dropshadow(gaussian, #12172b, 15, 0.1, 2, 5);
}

#solverSelector {
    -fx-background-radius: 10px;
    -fx-background-color: #2C3553;
    -fx-effect: dropshadow(gaussian, #12172b, 10, 0.1, 2, 5);
}

#solverSelector:showing {
    -fx-background-radius: 10px 10px 0 0;
}

.combo-box .cell{
    -fx-font: 14px "Ubuntu";
    -fx-font-weight: bold;
    -fx-text-fill: #F7F5FF;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

.combo-box .cell:hover{
    -fx-text-fill: #458cff;
}

#solverSelector .list-view{
    -fx-background-color: #2C3553;
    -fx-background-radius:  0 0 10px 10px;
    -fx-effect: dropshadow(gaussian, #12172b, 10, 0.1, 2, 5);
}

#solverSelector .list-cell{
    -fx-background-color: transparent;
}

#solverSelector .arrow-button {
    -fx-background-color: transparent;
}

#solverSelector .arrow {
    -fx-background-color: #F7F5FF;
}

#solverSelector:hover .arrow {
    -fx-background-color: #458cff;
}

#speedSelector {
    /*-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff9d80 0%, #ff4181 100%);*/
}

#speedSelector > .track {
    -fx-background-color: #313c5a;
    -fx-effect: dropshadow(gaussian, #12172b, 10, 0.1, 2, 5);
}

#speedSelector > .thumb {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff9d80 0%, #ff4181 100%);
    -fx-effect: dropshadow(gaussian, #12172b, 2, 0.1, 1, 2);

}

#panel {
    -fx-background-color: #212842;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, #12172b, 15, 0.1, 3, 7);
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-opacity: 0.3;
    -fx-border-width: 1px;
    -fx-border-color: #111 #85889c #111 #111;
}

#paramTable {
    -fx-background-color: #222b47;
    -fx-background-radius: 15px;
    -fx-border-width: 0;
    -fx-padding: 0 0 10px 0;
    -fx-effect: dropshadow(gaussian, #12172b, 10, 0.1, 2, 5);
}

#paramTable .column-header-background {
    -fx-background-color: #1f2740;
    -fx-background-radius: 15px 15px 0 0;
}

#paramTable .table-column {
    -fx-background-color: transparent;
}

#paramTable .table-cell {
    -fx-font: 14px "Ubuntu";
    -fx-font-weight: bold;
    -fx-text-fill: #F7F5FF;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

#paramTable .table-row-cell{
    -fx-background-color: transparent;
}

#paramTable .table-row-cell:even{
    -fx-background-color: RGBA(69,140,255,0.05);
}

#paramTable .table-row-cell:empty {
    -fx-background-color: transparent;
}

#paramNameCol {
    -fx-alignment: center-right;
    -fx-padding: 0 20px;
}

#paramValueCol {
    -fx-alignment: center-left;
    -fx-padding: 0 20px;
}



.label {
    -fx-font: 14px "Ubuntu";
    -fx-font-weight: bold;
    -fx-text-fill: #F7F5FF;
}

.button {
    -fx-background-radius: 10px;
    -fx-background-color: #2C3553;
    -fx-text-fill: #F7F5FF;
    -fx-effect: dropshadow(gaussian, #12172b, 10, 0.1, 2, 5);
    -fx-padding: 0;
}

.button:pressed {
    -fx-effect: dropshadow(gaussian, #12172b, 5, 0.1, 1, 3);
}

#playButton .image-view {
    -fx-image: url(../images/icon_play_white.png);
    -fx-translate-x: 1;
}

#playButton:hover .image-view {
    -fx-image: url(../images/icon_play_blue.png);
}

#playButton.pause .image-view {
    -fx-image: url(../images/icon_pause_white.png);
    -fx-translate-x: 0;
}

#playButton.pause:hover .image-view {
    -fx-image: url(../images/icon_pause_blue.png);
}

